<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.generalbot.plugin.mapper.MethodClassInfoMapper">

    <insert id="insert" parameterType="java.util.List">
        insert into method_class_info(id,description,plugin_version_id,class_name,simple_class_name,package_name) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.description},#{item.pluginVersionId},#{item.className},#{item.simpleClassName},#{item.packageName})
        </foreach>
    </insert>
    <update id="update" parameterType="java.util.List">
        update method_class_info
        set description = case id
            <foreach collection="list" item="item">
                when #{item.id} then #{item.description}
            </foreach>
        end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>