<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.plugin.PluginMapper">

    <!-- SQL片段定义 -->
    <!-- 插件信息查询语句 -->
    <sql id="pluginSelectStatement">
        SELECT 
            p.id, p.name, p.description, p.author_id, p.author_name,
            p.latest_version, p.version_count, 
            p.create_time, p.update_time,p.is_public,
            pv.id as plugin_version_id, pv.plugin_id as plugin_version_plugin_id, pv.version as plugin_version_version, 
            pv.path as plugin_version_path, pv.file_size as plugin_version_file_size, pv.file_md5 as plugin_version_file_md5, 
            pv.create_time as plugin_version_create_time, pv.changelog as plugin_version_changelog, 
            pv.entity_package as plugin_version_entity_package, pv.method_package as plugin_version_method_package, 
            pv.compatible_version as plugin_version_compatible_version,
            e.id as entity_id, e.description as entity_description, e.name as entity_name, 
            e.plugin_version_id as entity_plugin_version_id, e.entity_name as entity_entity_name,
            a.id as attribute_id, a.description as attribute_description, 
            a.entity_info_id as attribute_entity_info_id, a.type as attribute_type, a.name as attribute_name,
            mc.id as method_class_id, mc.description as method_class_description, 
            mc.plugin_version_id as method_class_plugin_version_id, mc.class_name as method_class_class_name, 
            mc.simple_class_name as method_class_simple_class_name, mc.package_name as method_class_package_name,
            m.id as method_id, m.description as method_description, m.method_class_id as method_method_class_id, 
            m.name as method_name, m.return_type as method_return_type,
            param.id as parameter_id, param.description as parameter_description, 
            param.method_id as parameter_method_id, param.name as parameter_name, param.type as parameter_type, param.order as parameter_order
        FROM plugin_info p
        LEFT JOIN plugin_version pv ON p.id = pv.plugin_id
        LEFT JOIN entity_info e ON pv.id = e.plugin_version_id
        LEFT JOIN attribute a ON e.id = a.entity_info_id
        LEFT JOIN method_class_info mc ON pv.id = mc.plugin_version_id
        LEFT JOIN method_info m ON mc.id = m.method_class_id
        LEFT JOIN parameter_info param ON m.id = param.method_id
    </sql>

    <!-- 插件信息表字段映射 -->
    <resultMap id="pluginInfoMap" type="com.example.demo.pojo.plugin.PluginInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>

        <result column="latest_version" property="latestVersion"/>
        <result column="version_count" property="versionCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_public" property="isPublic"/>
        <!-- 关联插件版本信息 -->
        <collection property="pluginVersionList" ofType="com.example.demo.pojo.plugin.PluginVersion">
            <id column="plugin_version_id" property="id"/>
            <result column="plugin_version_plugin_id" property="pluginId"/>
            <result column="plugin_version_version" property="version"/>
            <result column="plugin_version_path" property="path"/>
            <result column="plugin_version_file_size" property="fileSize"/>
            <result column="plugin_version_file_md5" property="fileMd5"/>
            <result column="plugin_version_create_time" property="createTime"/>
            <result column="plugin_version_changelog" property="changelog"/>
            <result column="plugin_version_entity_package" property="entityPackage"/>
            <result column="plugin_version_method_package" property="methodPackage"/>
            <result column="plugin_version_compatible_version" property="compatibleVersion"/>
            <!-- 关联实体类信息 -->
            <collection property="entityInfoList" ofType="com.example.demo.pojo.plugin.EntityInfo">
                <id column="entity_id" property="id"/>
                <result column="entity_description" property="description"/>
                <result column="entity_name" property="name"/>
                <result column="entity_plugin_version_id" property="pluginVersionId"/>
                <result column="entity_entity_name" property="entityName"/>
                <!-- 关联属性信息 -->
                <collection property="attributes" ofType="com.example.demo.pojo.plugin.Attribute">
                    <id column="attribute_id" property="id"/>
                    <result column="attribute_description" property="description"/>
                    <result column="attribute_entity_info_id" property="entityInfoId"/>
                    <result column="attribute_type" property="type"/>
                    <result column="attribute_name" property="name"/>
                </collection>
            </collection>
            <!-- 关联方法类信息 -->
            <collection property="methodClassInfoList" ofType="com.example.demo.pojo.plugin.MethodClassInfo">
                <id column="method_class_id" property="id"/>
                <result column="method_class_description" property="description"/>
                <result column="method_class_plugin_version_id" property="pluginVersionId"/>
                <result column="method_class_class_name" property="className"/>
                <result column="method_class_simple_class_name" property="simpleClassName"/>
                <result column="method_class_package_name" property="packageName"/>
                <!-- 关联方法信息 -->
                <collection property="methods" ofType="com.example.demo.pojo.plugin.MethodInfo">
                    <id column="method_id" property="id"/>
                    <result column="method_description" property="description"/>
                    <result column="method_method_class_id" property="methodClassId"/>
                    <result column="method_name" property="name"/>
                    <result column="method_return_type" property="returnType"/>
                    <!-- 关联参数信息 -->
                    <collection property="parameters" ofType="com.example.demo.pojo.plugin.ParameterInfo">
                        <id column="parameter_id" property="id"/>
                        <result column="parameter_description" property="description"/>
                        <result column="parameter_method_id" property="methodId"/>
                        <result column="parameter_name" property="name"/>
                        <result column="parameter_type" property="type"/>
                        <result column="parameter_order" property="order"/>
                    </collection>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <!-- 插入插件信息 -->
    <!-- 插入插件信息 -->
    <insert id="insert" parameterType="com.example.demo.pojo.plugin.PluginInfo">
        INSERT INTO plugin_info (
            id, name, description, author_id, author_name,
            latest_version, version_count,
            create_time, update_time, is_public
        ) VALUES (
            #{id}, #{name}, #{description}, #{authorId}, #{authorName},
            #{latestVersion}, #{versionCount},
            #{createTime}, #{updateTime}, #{isPublic}
        );
    </insert>

    <!-- 根据ID查询插件信息 -->
    <select id="selectById" resultMap="pluginInfoMap">
        <include refid="pluginSelectStatement"/>
        WHERE p.id = #{id}
    </select>

    <!-- 更新插件信息 -->
    <update id="update" parameterType="com.example.demo.pojo.plugin.PluginInfo">
        UPDATE plugin_info SET
            description = #{description},
            <if test="name != null">name = #{name},</if>
            <if test="authorName != null">author_name = #{authorName},</if>
            <if test="latestVersion != null">latest_version = #{latestVersion},</if>
            <if test="versionCount != null">version_count = #{versionCount},</if>
            <if test="isPublic != null">is_public = #{isPublic},</if>
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-- 根据作者ID计算插件总数 -->
    <select id="countByAuthorId" resultType="int">
        SELECT COUNT(DISTINCT p.id) FROM plugin_info p
        WHERE p.author_id = #{authorId}
    </select>
    <select id="selectByIds" resultMap="pluginInfoMap">
        <include refid="pluginSelectStatement"/>
        WHERE p.id IN
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
        ORDER BY p.update_time DESC
    </select>

</mapper>
