<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.generalbot.plugin.mapper.PluginDataMapper">

    <insert id="insertByList">
        insert into plugin_data (user_id, plugin_id
        <if test="index != null and index != ''">, data_index</if>
        , data, create_time, update_time)
        values
        <foreach item="item" collection="data" separator=",">
            (#{userId}, #{pluginId}
            <if test="index != null and index != ''">, #{index}</if>
            , #{item}, NOW(), NOW())
        </foreach>
    </insert>

    <insert id="insertByMap">
        insert into plugin_data (user_id, plugin_id, data_index, data, create_time, update_time)
        values
        <foreach item="value" index="key" collection="data" separator=",">
            (#{userId}, #{pluginId}, #{key}, #{value}, NOW(), NOW())
        </foreach>
    </insert>

    <insert id="insertByMapList">
        insert into plugin_data (user_id, plugin_id, data_index, data, create_time, update_time)
        values
        <foreach item="entryValue" index="entryKey" collection="data" separator=",">
            <foreach item="listItem" collection="entryValue" separator=",">
                (#{userId}, #{pluginId}, #{entryKey}, #{listItem}, NOW(), NOW())
            </foreach>
        </foreach>
    </insert>


    <delete id="deleteByIndexList">
        delete from plugin_data where user_id = #{userId} and plugin_id = #{pluginId} and data_index in
        <foreach item="item" collection="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByIds">
        delete from plugin_data where id in
        <foreach item="item" collection="ids" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateByIndex">
        update plugin_data set data = #{data}, update_time = NOW() where user_id = #{userId} and plugin_id = #{pluginId} and data_index = #{index}
    </update>

    <update id="updateBatchById">
        update plugin_data
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="data_index = case" suffix="end,">
                <foreach item="item" collection="list">
                    when id = #{item.id} then #{item.dataIndex}
                </foreach>
            </trim>
            <trim prefix="data = case" suffix="end,">
                <foreach item="item" collection="list">
                    when id = #{item.id} then #{item.data}
                </foreach>
            </trim>
            update_time = NOW(),
        </trim>
        where id in
        <foreach item="item" collection="list" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>
</mapper>
