<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.plugin.PluginVersionMapper">

    <insert id="insert" parameterType="com.example.demo.pojo.entity.plugin.PluginVersion">
        insert into plugin_version(id, plugin_id, version, path, file_size, file_md5, create_time, changelog, entity_package, method_package, compatible_version)
        values (#{id}, #{pluginId}, #{version}, #{path}, #{fileSize}, #{fileMd5}, #{createTime}, #{changelog}, #{entityPackage}, #{methodPackage}, #{compatibleVersion})
    </insert>

    <update id="update" parameterType="java.util.List">
        update plugin_version
        set 
            changelog = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.changelog}
                </foreach>
            end,
            compatible_version = case id
                <foreach collection="list" item="item">
                    when #{item.id} then #{item.compatibleVersion}
                </foreach>
            end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>