<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.generalbot.workflow.mapper.BigTextMapper">

    <insert id="insertBatch">
        INSERT INTO big_text(`key`, execution_id, value)
        VALUES
        <foreach collection="bigTextList" item="item" separator=",">
            (#{item.key}, #{item.executionId}, #{item.value})
        </foreach>
    </insert>

</mapper>
