<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.workflow.NodeNextRelationMapper">

    <insert id="insert" parameterType="java.util.Map">
        insert into node_next_relation(node_id, next_node_id)
        values
        <foreach item="nextNodeIdList" index="nodeId" collection="_parameter" separator=",">
            <foreach item="nextNodeId" collection="nextNodeIdList" separator=",">
                (#{nodeId}, #{nextNodeId})
            </foreach>
        </foreach>
    </insert>
    <delete id="deleteByNodeId" parameterType="java.util.List">
        delete from node_next_relation where node_id in
        <foreach item="item" index="index" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>