<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.plugin.EntityInfoMapper">

    <insert id="insert" parameterType="java.util.List">
            insert into entity_info(id, description, name, plugin_version_id, entity_name, attributes) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id}, #{item.description}, #{item.name}, #{item.pluginVersionId}, #{item.entityName}, #{item.attributes})
        </foreach>
    </insert>
    <update id="update" parameterType="java.util.List">
        update entity_info
        set description = case id
            <foreach collection="list" item="item">
                when #{item.id} then #{item.description}
            </foreach>
        end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>