<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.EventLogMapper">

<insert id="insert" parameterType="java.util.List">
    INSERT INTO event_log (self_id, type, sub_type, time, user_id, group_id, event_data)
    VALUES
    <foreach collection="events" item="event" separator=",">
        (
        #{event.selfId},
        #{event.type},
        #{event.subType},
        #{event.time},
        #{event.userId},
        #{event.groupId},
        #{event.eventData}
        )
    </foreach>
</insert>

</mapper>